<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<c-row>
	<c-col md="12">
		<div class="bg-light d-flex flex-row justify-content-end align-items-center">
			<button cButton class="px-0 text-dark fw-bold text-decoration-none" color="link"
				(click)="back()">
				<svg cIcon name="cilChevronLeft"></svg> Back
			</button>
		</div>
	</c-col>
</c-row>

<c-row>
	<c-col md="12">
		<form [formGroup]="editParty">
			<c-card class="my-3">
				<c-card-header class="fw-bold party-details">Update Party Details</c-card-header>
				<c-card-body class="p-3">
					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Party Name <span class="text-danger">*</span>
						</label>
						<c-col [sm]="10">
							<input cFormControl type="text" placeholder="Enter party name"
								formControlName="ledgerName"
								[ngClass]="{ 'is-invalid': submitted && add['ledgerName'].errors }" />
							<div *ngIf="submitted && add['ledgerName'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['ledgerName'].errors['required']">Party name is
									required</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Ledger Type <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="ledgerType"
								[ngClass]="{ 'is-invalid': submitted && add['ledgerType'].errors }">
								<option value="">-- Select --</option>
								<option *ngFor="let item of ledgerList" [value]="item.LedgerType">
									{{item.LedgerType}}</option>
							</select>
							<div *ngIf="submitted && add['ledgerType'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['ledgerType'].errors['required']">Ledger type is
									required</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							Dealer Type <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="dealerType"
								[ngClass]="{ 'is-invalid': submitted && add['dealerType'].errors }">
								<option value="">-- Select --</option>
								<option *ngFor="let item of dealerList" [value]="item.DealerType">
									{{item.DealerType}}</option>
							</select>
							<div *ngIf="submitted && add['dealerType'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['dealerType'].errors['required']">Dealer type is
									required</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Address 1 <span class="text-danger">*</span>
						</label>
						<c-col [sm]="10">

              <!-- <input cFormControl type="text" placeholder="Enter address 1"
								formControlName="address1"
								[ngClass]="{ 'is-invalid': submitted && add['address1'].errors }" />
 -->

                <ng-select #party (keyup)="getAddress1(party.searchTerm)" [items]="address1Options"
                  [(ngModel)]="selectedParty" bindLabel="ledgerName" bindValue="ledgerId" formControlName="address1"
                  placeholder="Enter address 1" (focus)="address1Options">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="item" (click)="assignOptionToFormControl('address1',item)">
                          <div>{{item}}</div>
                      </div>
                  </ng-template>
              </ng-select>


							<div *ngIf="submitted && add['address1'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['address1'].errors['required']">Address is required
								</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Address 2
						</label>
						<c-col [sm]="10">

							<!-- <input cFormControl type="text" placeholder="Enter address 2"
								formControlName="address2" /> -->

                <ng-select #party (keyup)="getAddress2(party.searchTerm)" [items]="address2Options"
                  [(ngModel)]="add2" bindLabel="ledgerName" bindValue="ledgerId" 	formControlName="address2"
                  placeholder="Enter address 2" (focus)="address2Options">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div class="item" (click)="assignOptionToFormControl('address2',item)">
                          <div>{{item}}</div>
                        </div>
                    </ng-template>
                </ng-select>


						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Place <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">

							<!-- <input cFormControl type="text" placeholder="Enter place"
								formControlName="place"
								[ngClass]="{ 'is-invalid': submitted && add['place'].errors }" /> -->


                <ng-select #party (keyup)="getPlace(party.searchTerm)" [items]="placeOptions"
                [(ngModel)]="place" bindLabel="ledgerName" bindValue="ledgerId" formControlName="place"
                placeholder="Enter address 2" (focus)="placeOptions">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div class="item" (click)="assignOptionToFormControl('place',item)">
                        <div>{{item}}</div>
                      </div>
                  </ng-template>
              </ng-select>

							<div *ngIf="submitted && add['place'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['place'].errors['required']">Place is required</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							State <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="state"
								[ngClass]="{ 'is-invalid': submitted && add['state'].errors }">
								<option value="">-- Select --</option>
								<option [value]="item.Statename" *ngFor="let item of stateList">
									{{item.Statename}}</option>
							</select>
							<div *ngIf="submitted && add['state'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['state'].errors['required']">State is required</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							GSTIN
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter gstin"
								formControlName="gstin"
								[ngClass]="{ 'is-invalid': submitted && add['gstin'].errors }" />
							<div *ngIf="submitted && add['gstin'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['gstin'].errors['required']">GSTIN is required</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							Contact Details <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter contact details"
								formControlName="contactDetails"
								[ngClass]="{ 'is-invalid': submitted && add['contactDetails'].errors }" />
							<div *ngIf="submitted && add['contactDetails'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['contactDetails'].errors['required']">Contact
									details is required</div>
								<div *ngIf="add['contactDetails'].errors['pattern']">Enter valid
									contact details</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Country <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="country"
								[ngClass]="{ 'is-invalid': submitted && add['country'].errors }">
								<option value="">-- Select --</option>
								<option *ngFor="let item of countryList" [value]="item.CountryName">
									{{item.CountryName}}</option>
							</select>
							<div *ngIf="submitted && add['contactDetails'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['contactDetails'].errors['required']">Country is
									required</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							Accounting Group <span class="text-danger">*</span>
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="accGroup"
								[ngClass]="{ 'is-invalid': submitted && add['accGroup'].errors }">
								<option value="">-- Select --</option>
								<option *ngFor="let item of accGroupList"
									[value]="item.AccontingGroupId">{{item.GroupName}}</option>
							</select>
							<div *ngIf="submitted && add['accGroup'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['accGroup'].errors['required']">Accounting group is
									required</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Cell No.
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter cell no."
								formControlName="cellPhone" />
							<div *ngIf="submitted && add['cellPhone'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['cellPhone'].errors['pattern']">Enter valid cell
									phone</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							Email
						</label>
						<c-col [sm]="4">
							<input cFormControl type="email" placeholder="Enter cell email"
								formControlName="email"
								[ngClass]="{ 'is-invalid': submitted && add['email'].errors }" />
							<div *ngIf="submitted && add['email'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['email'].errors['pattern']">Enter valid email</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							FSSAI
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter fssai"
								formControlName="fssai" />

						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">

						</label>
						<c-col [sm]="4">
							<div class="d-flex justify-content-between align-items-center">
								<c-col [sm]="7">
									<c-form-check>
										<input [checked]="true" cFormCheckInput id="checkTwo"
											type="checkbox" formControlName="deductChk" />
										<label cFormCheckLabel for="checkTwo">Deduct 194C
											TDS</label>
									</c-form-check>
								</c-col>
								<c-col [sm]="5">
									<div class="d-flex align-items-center">
										<p class="mb-0 me-2">%</p>
										<input cFormControl type="email"
											placeholder="Enter percentage" formControlName="perc" />
									</div>
								</c-col>
							</div>
						</c-col>
					</c-row>
					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							PAN
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter PAN"
								formControlName="pan" />

						</c-col>
					</c-row>
				</c-card-body>
				<c-card-header class="fw-bold">Bank Details</c-card-header>
				<c-card-body class="p-3">
					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Bank Name
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter bank name"
								formControlName="bankName" />

						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							IFSC Code
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter ifsc code"
								formControlName="ifscCode" />

						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Account No.
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter account no."
								formControlName="accNo" />

						</c-col>

						<!-- <label cLabel="col" class="text-end" cCol [sm]="2">
							PAN
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter PAN"
								formControlName="pan" />
						</c-col> -->
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Opening Balance
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter opening balance"
								formControlName="openingBal"
								[ngClass]="{ 'is-invalid': submitted && add['openingBal'].errors }" />
							<div *ngIf="submitted && add['openingBal'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['openingBal'].errors['required']">Opening balance is
									required</div>
							</div>
						</c-col>

						<label cLabel="col" class="text-end" cCol [sm]="2">
							Credit/Debit
						</label>
						<c-col [sm]="4">
							<select aria-label="Default select example" cSelect
								formControlName="creditDebit"
								[ngClass]="{ 'is-invalid': submitted && add['creditDebit'].errors }">
								<option value="">-- Select --</option>
								<option value="Credit">Credit</option>
								<option value="Debit">Debit</option>
							</select>
							<div *ngIf="submitted && add['creditDebit'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['creditDebit'].errors['required']">Credit/Debit is
									required</div>
							</div>
						</c-col>
					</c-row>

					<c-row class="mb-3">
						<label cLabel="col" class="text-end" cCol [sm]="2">
							Book Page No.
						</label>
						<c-col [sm]="4">
							<input cFormControl type="text" placeholder="Enter book page no."
								formControlName="bookPage"
								[ngClass]="{ 'is-invalid': submitted && add['bookPage'].errors }" />
							<div *ngIf="submitted && add['bookPage'].errors"
								class="invalid-feedback fw-semibold">
								<div *ngIf="add['bookPage'].errors['required']">Book page number is
									required</div>
							</div>
						</c-col>
					</c-row>
					<hr>
					<c-row class="mb-3">
						<c-col [sm]="12" class="d-flex justify-content-between">
							<button (click)="back()" class="btn btn-outline-dark me-2 px-3"
								type="reset">Cancel</button>
							<button cButton class="btn btn-dark ms-2 px-3" type="submit"
								(click)="onSubmit()">Update</button>
						</c-col>
					</c-row>
				</c-card-body>
			</c-card>
		</form>
	</c-col>
</c-row>
