<div class="row" style="margin-top: 10px;">
  <div class="col-md-6 text-center" style="margin-left: 10%;">
    <h2>{{ headerContent }}</h2>
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-dark" (click)="printReport()" style="font-size: 11px; width: 20%;">
      Print Report
    </button>
  </div>
</div>


<dx-report-viewer [reportUrl]="reportName" height="100%" (reportOpened)="onReportOpened($event)"  cssClass="myViewer">
  <dxrv-request-options [invokeAction]="invokeAction" [host]="host"></dxrv-request-options>

  <dxrv-tabpanel-settings position="Left"></dxrv-tabpanel-settings>
  <dxrv-export-settings [useSameTab]="false" [useAsynchronousExport]="false"></dxrv-export-settings>
  <dxrv-search-settings [useAsyncSearch]="false"></dxrv-search-settings>
  <!-- <dxrv-callbacks (BeforeRender)="CustomizePredefinedRanges($event)">
                </dxrv-callbacks> -->
                <!-- (BeforeRender)="CustomizePredefinedRanges($event)" -->

  <dxrv-callbacks (CustomizeMenuActions)="CustomizeMenuActions($event)" (ParametersInitialized)="ParametersSubmitted($event)">
  </dxrv-callbacks>

</dx-report-viewer>

