.pointer-none 
{
 pointer-events: none;
}

.search 
{
 margin-right: 1rem;
}

.search-input 
{
 height: 31px;  
} 

.is-invalid 
{
  font-size: 13px;  
}

select 
{
  margin-right: 1rem;
  height: 38px;
}