<c-navbar class="bg-dark">
    <c-container fluid>
        <a cNavbarBrand href="">
            Sutra Plus
        </a>
    </c-container>
</c-navbar>

<div class="bg-light startup-page-screen">
    <c-container>
        <c-row>
            <c-col md="12">
                <h2 class="text-center my-5">Welcome to Sutra Plus @{{currentYear}}</h2>
            </c-col>
        </c-row>
    </c-container>
</div>

<c-footer>
    <div>
        <a>Sutra Plus</a>
        <span> &copy; {{currentYear}}. Unnati Solutions. All Rights Reserved</span>
    </div>
    <div class="ms-auto">
        Powered by
        <a href="http://unnatisoftwares.com/" target="_blank">
            <span> Unnati Solutions</span>
        </a>
    </div>
</c-footer>