<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FromEmail" value="shivaji.mali@e-morphus.com" />
		<add key="Password" value="Shivaji@1786"/>
		<add key="emailServerHost" value= "mail.e-morphus.com" />
		<add key="emailServerPort" value="587" />
		<add key="TemplateFolderPath" value="D:\\Templates" />
		<add key="CustomerCreateFilePath" value="D:\\Templates\\CustomerCreate.htm" />
		<add key="ForgotPassFilePath" value="D:\\Templates\\ForgotPassword.htm" />
		<add key="MailOTPFilePath" value="D:\\Templates\\ChangeCustomerEmail.htm" />
		<add key="a" value="aaa" />
		<add key="b" value="aaa" />
	</appSettings>
</configuration>