<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<c-navbar>
    <c-container fluid>
        <a cNavbarBrand href="https://coreui.io/angular/" target="_blank">
            Sutra Plus
        </a>
    </c-container>
</c-navbar>

<div class="bg-light login-page-screen d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="4">
                <c-card-group>
                    <c-card class="p-2">
                        <c-card-body>
                            <!-- <form cForm [formGroup]="loginForm">
                                <h1>Login</h1>
                                <p class="text-medium-emphasis">Sign in to your account</p>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilUser"></svg>
                                    </span>
                                    <input autoComplete="username" cFormControl placeholder="Email"
                                        formControlName="username"
                                        [ngClass]="{ 'is-invalid rounded-end': submitted && loginFrm['username'].errors }" />
                                    <div *ngIf="submitted && loginFrm['username'].errors"
                                        class="invalid-feedback fw-semibold">
                                        <div
                                            *ngIf="loginFrm['username'].errors && loginFrm['username'].errors['required']">
                                            Email is required</div>
                                        <div
                                            *ngIf="loginFrm['username'].errors && loginFrm['username'].errors['pattern']">
                                            Email is invalid</div>
                                    </div>
                                </c-input-group>
                                <c-input-group class="mb-4">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input autoComplete="current-password" cFormControl placeholder="Password"
                                        formControlName="password" type="password"
                                        [ngClass]="{ 'is-invalid rounded-end': submitted && loginFrm['password'].errors }" />
                                    <div *ngIf="submitted && loginFrm['password'].errors"
                                        class="invalid-feedback fw-semibold">
                                        <div
                                            *ngIf="loginFrm['password'].errors && loginFrm['password'].errors['required']">
                                            Password is required</div>
                                    </div>
                                </c-input-group>
                                <c-row>
                                    <c-col xs="12">
                                        <button cButton class="px-4 w-100" color="primary" (click)="login()">
                                            Login
                                        </button>
                                    </c-col>
                                </c-row>
                                <c-row class="mt-3">
                                    <c-col xs="12" class="text-center">
                                        <a class="btn-link cursor-pointer text-decoration-none"
                                            (click)="forgotPassword()">
                                            Forgot Password
                                        </a>
                                    </c-col>
                                </c-row>
                            </form> -->

                            <form [formGroup]="loginForm">
                                <h1>Login</h1>
                                <p class="text-medium-emphasis">Sign in to your account</p>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                                        formControlName="username"
                                        [ngClass]="{ 'is-invalid rounded-end': submitted && loginFrm['username'].errors }" />
                                    <div *ngIf="submitted && loginFrm['username'].errors"
                                        class="invalid-feedback fw-semibold">
                                        <div
                                            *ngIf="loginFrm['username'].errors && loginFrm['username'].errors['required']">
                                            Email is required</div>
                                        <div
                                            *ngIf="loginFrm['username'].errors && loginFrm['username'].errors['pattern']">
                                            Email is invalid</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Password"
                                            [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && loginFrm['password'].errors }" />
                                        <span class="input-group-text cursor-pointer rounded-end bg-white"
                                            id="basic-addon2">
                                            <i class="fa-solid fa-eye-slash" alt="show"
                                                (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                                            <i class="fa-solid fa-eye" alt="hide" (click)="showPassword = !showPassword"
                                                [class.hide]="!showPassword"></i>
                                        </span>
                                        <div *ngIf="submitted && loginFrm['password'].errors"
                                            class="invalid-feedback fw-semibold">
                                            <div
                                                *ngIf="loginFrm['password'].errors && loginFrm['password'].errors['required']">
                                                Password is required</div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-dark w-100" (click)="login()">Login</button>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>

<c-footer>
    <div>
        <a>Sutra Plus</a>
        <span> &copy; {{currentYear}}. Unnati Solutions. All Rights Reserved</span>
    </div>
    <div class="ms-auto">
        Powered by
        <a href="http://unnatisoftwares.com/" target="_blank">
            <span> Unnati Solutions</span>
        </a>
    </div>
</c-footer>